$color: #cef5eb;

@mixin test($var1){
    font-size: $var1;
}

%test-2 {
    color: $color; 
}

* {
    margin: 0;
    padding: 0;
    body{
        margin: 0;
        display: flex;
        background: rgb(97, 170, 230);
        z-index: 1337;
        position: relative;

        h1 {
           @extend %test-2;
           @include test(5em);
            display: flex;
            flex-direction: row;
            transition: all .5s;
        }
    }
}